---
import HelloWorld from "../components/HelloWorld.vue";
import { createTRPCProxyClient, httpBatchLink } from "@trpc/client";
import type { AppRouter } from "./api/trpc/[path]";

const client = createTRPCProxyClient<AppRouter>({
	links: [
		httpBatchLink({
			url: `${Astro.url.origin}/api/trpc`
		})
	]
})

const data = await client.test.hello.query()
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Astro</h1>
		<HelloWorld client:load message={data} />
	</body>
</html>
